!!!
%html
  %head
    %title Cuaca IO
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .flex.flex-col.items-center.justify-center.h-screen
      .container.mx-auto
        = yield
      %footer
        .flex.justify-center
          %p.text-black-400 Made by Malaysian
